body {
  margin: 0;
  padding: 0;
  background: rgb(48, 212, 212);

}
#navbar {
  opacity: 0.8;
  border-bottom: 1px solid rgb(48, 212, 212);
}
#nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}
#nav a:hover{
  background-color: rgb(48, 212, 212);
}

#center{
  margin-top:15vh;
  height: 100vh;
}
#tbEgitim{
  width: 90%;
}
#tbProgramlama{
  width: 50%;
}

a.okul {
  color: black;
}
a.okul:link {
  text-decoration: none;
}
a.okul:hover {
  color: brown;
}
.info{
  margin:2%;
}

.footer{
  bottom: 0;
  width: 100%;
  background: #808080;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}
